@mixin sobrePoner($fondo: black, $escala: 1){
    background-color: $fondo;
    transform: scale($escala, $escala);
}
.main {
    margin: 20px;
    width: 98%;
    height: 98%;     
    .logo{
        width: 300px;
        @include respond(mediano){
            width: 225px;
        }
    }    
    nav {
        display: flex;
        flex-direction: column;
        li{
            padding-inline: 1em;
            &:hover{
                @include sobrePoner;
                @media all and (min-width: 980px){
                    @include sobrePoner($fondo: green, $escala: 1.10);
                }
            }
        }
        @include respond(mediano){
            flex-direction: row;
        }
    }
    .formulario {
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 1em;
        
        &--datos{
            display: flex;
            flex-direction: column;
            @include respond(mediano){
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
    }
    footer{
        margin-top: 1em;
    }                     
}
