.main {
    width: 98%;
    height: 98%;     
    .logo{
        width: 300px;
        padding: 1em;
        @include respond{
            width: 225px;
        }
    }    
    nav {
        display: flex;
        flex-direction: column;
        li{
            padding-inline: $padEs;
            &:hover{
                background-color:black; 
                transform: scale(1.10);
                @include respond{
                    background-color:green; 
                    transform: scale(1.15);
                }
            }
        }
        @include respond{
            flex-direction: row;
        }
    }
    .formulario {
        margin-bottom: 10px;
        margin-top: 10px;
        padding: $padEs;
        
        &--datos{
            display: flex;
            flex-direction: column;
            @include respond{
                flex-direction: row;
                flex-wrap: wrap;
            }
        }

        .separa{
            margin-right: $padEs;
        }
    }
    footer{
        margin-top: $padEs;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .iconos{
            margin: 0.5em;
            width: 40px;
        }
        @include respond{
            flex-direction: row;
        }
    } 
    @include respond{
        margin: $padEs;
    }                    
}
