@use 'anima';

@mixin CreandoClases($n){
    $p: nth($NombreTamanoLetra, $n);
    .#{$p}{
        font-size: nth($TamanoLetra, $n);
    }
}
@for $n from 1 through 7{
    @include CreandoClases($n);
}

.tamanoImagenes{
    width: 100%;
    height: 500px; 
    margin: 0px;
    padding: 10px;
}
.reglas{
    padding-left: 4em;
    .separacion{
        padding-bottom: 1.5em;
    }
}
.titulo{
    text-align: center;
    font-weight: bold;
}

.infoImg{
    max-width: 100%;
    max-height: 100%;
    @include respond{
        max-width: 50%;
        max-height: 50%;
    }
}

.cuidado{
    @extend .titulo;
    font-size:28px;
    font-weight:bold;
    color:red;
    @extend .parpadea;
}