@use 'anima';
.info__imag{
    margin-left: auto; 
    margin-right: auto;
    display: block;
}
.tamanoImagenes{
    width: 980px;
    height: 680px; 
}
.reglas{
    padding-left: 30px;
    .separacion{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
.titulo{
    text-align: center;
    font-size: 100%
}
.cuidado{
    @extend .titulo;
    font-size:28px;
    font-weight:bold;
    color:red;
    @extend .parpadea;
}