@use 'anima';
.info__imag{
    margin-left: auto; 
    margin-right: auto;
    display: block;
}
.tamanoImagenes{
    width: 100%;
    height: 500px; 
    margin: 0px;
    padding: 10px;
}
.reglas{
    padding-left: 30px;
    .separacion{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
.titulo{
    text-align: center;
    font-weight: bold;
}

@mixin CreandoClases($n){
    $p: nth($NombreTamanoLetra, $n);
    .#{$p}{
        font-size: nth($TamanoLetra, $n);
    }
}
@for $n from 1 through 7{
    @include CreandoClases($n);
}


.cuidado{
    @extend .titulo;
    font-size:28px;
    font-weight:bold;
    color:red;
    @extend .parpadea;
}