@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@700&family=Mulish:ital,wght@1,300&display=swap');
*{
	margin: 0;
	padding: 0;
}
body{
    min-height: 100vh;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.3)), url("img/fondoH.jpg");
    background-size: cover;
    font-family: 'Mulish', sans-serif;
    font-size: 150%;
}
.main {
    margin: 20px;
    display: grid;
    width: 98%;
    height: 98%;
    grid-template-areas: "head"
                         "nav"
                         "main"
                         "foot";
}
.main > header{
    grid-area: head;
    margin-bottom: 10px;
}  
.main > nav {
    display: flex;
    grid-area: nav;
    padding: 15px;
}
  
.formulario {
    grid-area: main;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 1em;
}
  
.main > footer {
    margin-top: 1em;
}
.header__logo{
    width: 200px;
}
.menu ul li a:hover{
    background-color: green;
    transform: scale(1.45,1.45);
}
.formulario--datos{
    display: flex;
    flex-direction: column;
}
.formulario__botones{
    width: 2em;
}
.formulario__botones button{
    padding: 20px;
    background-color: cornflowerblue;
    color: white;
}
.info__imag{
    margin-left: auto; 
    margin-right: auto;
    display: block;
}
.tamanoImagenes{
    width: 980px;
    height: 680px; 
}
.reglas{
    padding-left: 30px;
}
.reglas__separacion{
    padding-top: 10px;
    padding-bottom: 10px;
}
.titulo{
    text-align: center;
    font-size: 100%
}

@media all and (min-width: 1080px){
    body{
        font-size: 130%;
    }
    .main > header {
        margin-left: 100px;
        margin-right: 100px;
    }
    .main > nav {
        margin-left: 5em;
        margin-right: 5em;
    }
    .formulario{
        margin-left: 8em;
        margin-right: 8em;
        padding: 1em 3em;
    }
    .main > footer{
        margin-left: 5em;
        margin-right: 5em;
    }
    .formulario--datos{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .tamanoImagenes{
        width: 33%;
    }
    .carruselTamano{
        margin-left: 15em;
        margin-right: 15em;
    }
}
  